<html>
    <div>
        <h1>
            Home Page
        </h1>
    </div>

<!--   <div>-->
<!--      <form action="/search" method="GET">-->
<!--       <input name="q" value="search_term" placeholder="Search Here">-->
<!--       <button type="submit"> Search </button>-->
<!--      </form>-->
<!--   </div>-->

    <div>
        <form action="/login" method="POST">
            <input name="username" value="search_term" placeholder="Search Here">
            <input name="password" value="search_term" placeholder="Search Here">

            <input type="submit" name="submit_button" value="Do Something">
            <input type="submit" name="submit_button" value="Do Something Else">

        </form>
    </div>


</html>